<div class="container">
  <header class="well">
    <h1>Super Rentals</h1>
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact us{{/link-to}}
  </header>
    {{outlet}}
    <hr>
    <footer>
      {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
    </footer>
</div>
